_build/
*.o
Build
blib
nytprof*
lib/SDLx/*.c
lib/SDLx/*.xs
lib/SDLx/Controller/*.c
lib/SDLx/Controller/*.xs
lib/SDL/*.c
lib/SDL/*.xs
lib/SDL/GFX/*.c
lib/SDL/GFX/*.xs
lib/SDL/Mixer/*.c
lib/SDL/Mixer/*.xs
lib/SDL/Net/*.c
lib/SDL/Net/*.xs
lib/SDL/Pango/*.c
lib/SDL/Pango/*.xs
lib/SDL/TTF/*.c
lib/SDL/TTF/*.xs
SDLPerl.app
SDL_perl.c
SDL_perl.xs
stage
MANIFEST
!MANIFEST.skip
*META.yml
*META.json
*.tar.gz
*.swp
*~
*.bak
*_def.old
*.ERR
*Thumbs.db
Build.bat
*.base
*.def
*.exp
*.lds
