_build/
*.o
Build
blib
lib/SDL/*.c
lib/SDL/*.xs
lib/SDL/*_def.old
lib/SDL/GFX/*.c
lib/SDL/GFX/*.xs
lib/SDL/GFX/*_def.old
lib/SDL/Mixer/*.c
lib/SDL/Mixer/*.xs
lib/SDL/Mixer/*_def.old
lib/SDL/Net/*.c
lib/SDL/Net/*.xs
lib/SDL/Net/*_def.old
lib/SDL/Pango/*.c
lib/SDL/Pango/*.xs
lib/SDL/Pango/*_def.old
lib/SDL/TTF/*.c
lib/SDL/TTF/*.xs
lib/SDL/TTF/*_def.old
SDL_perl.c
SDL_perl.xs
SDL_perl_def.old
stage
MANIFEST
!MANIFEST.skip
*META.yml
*.tar.gz
*.swp
*~
